<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <section class="add-comment">
        <p>
            <%= form.label :commenter %><br>
            <%= form.text_field :commenter %>
        </p>
        <p>
            <%= form.label :body%><br>
            <%= form.text_area :body %>
        </p>
        <div class="bottom">
            <!--
            <p>
                <%= form.label :status %><br>
                <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
            </p> -->
            <p>
                <%= form.submit %>
            </p>
        </div>
    </section>
<% end %>