<section class="top">
    <h1>Articles</h1>
    <!--Our blog has <%= Article.public_count + 1 %> articles and counting-->
    <%= link_to "New Article", new_article_path, class: "button" %>
</section>
<section class="articles">
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <div class="summary">
                <h4><%= article.title %></h2>
                <p>
                    <%= truncate(article.body, length: 50, separator: ' ') %>
                </p>
                <%= link_to "Read More", article, class: "button" %>
            </div>
            <% end %>
    <% end %>
</section> 


