<section class="article-details">
    <div class="top">
        <h1><%= @article.title %></h1>
        <div class= "actions">
            <%= link_to image_tag("edit.png"), edit_article_path(@article) %></li>
            <%= link_to image_tag("delete.png"), article_path(@article), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                                } %>
        </div>
    </div>
    <p class="article-body">
        <%= @article.body %>
    </p>
    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form"%>
</section>